version: '3'
services:
  main:
    stdin_open: true # docker run -i
    tty: true        # docker run -t
    build:
      dockerfile: Dockerfile
      context: ./main
    volumes:
      # map files from ./main to /app inside container
      # every time that something asks to a file in /app inside the container
      # it will search in ./main from current directory
      - ./main:/app
    deploy:
      resources:
        limits:
          # cpus: '0.001'
          memory: 30M
  remote1:
    build:
      dockerfile: Dockerfile
      context: ./remote
    volumes:
      # map files from ./remote to /app inside container
      # every time that something asks to a file in /app inside the container
      # it will search in ./remote from current directory
     - ./remote:/app
     - ./files/remote1:/app/files
    ports:
      - 5001:8080
    deploy:
      resources:
        limits:
          # cpus: '0.001'
          memory: 20M
  remote2:
    build:
      dockerfile: Dockerfile
      context: ./remote
    volumes:
      # map files from ./remote to /app inside container
      # every time that something asks to a file in /app inside the container
      # it will search in ./remote from current directory
     - ./remote:/app
     - ./files/remote2:/app/files
    ports:
      - 5002:8080
    deploy:
      resources:
        limits:
          # cpus: '0.001'
          memory: 20M
  remote3:
    build:
      dockerfile: Dockerfile
      context: ./remote
    volumes:
      # map files from ./remote to /app inside container
      # every time that something asks to a file in /app inside the container
      # it will search in ./remote from current directory
     - ./remote:/app
     - ./files/remote3:/app/files
    ports:
      - 5003:8080
    deploy:
      resources:
        limits:
          # cpus: '0.001'
          memory: 20M
  remote4:
    build:
      dockerfile: Dockerfile
      context: ./remote
    volumes:
      # map files from ./remote to /app inside container
      # every time that something asks to a file in /app inside the container
      # it will search in ./remote from current directory
     - ./remote:/app
     - ./files/remote4:/app/files
    ports:
      - 5004:8080
    deploy:
      resources:
        limits:
          # cpus: '0.001'
          memory: 20M
   